@model IEnumerable<Webb_GruppK.Models.program>

@{
    ViewBag.Title = "newsinfo";
}

<div id="newsSectionChannelinfo">
    @foreach (var item in Model)
    {
        <div id="newsChannelinfo">
            <p>
                @item.name,
                @item.description
            </p>
        </div>
    }
</div>




