@model IEnumerable<Webb_GruppK.Models.program>

@{
    ViewBag.Title = "newsinfo";
}

@{var kanal = ""; }
@{ var kanalinfo = new HtmlString("Programmet visas på"); }

<div id="newsInfoSection">
    @foreach (var item in Model)
    {
        if (item.FK_channelid == 1)
        {
            kanal = "SVT1";
        }
        else if(item.FK_channelid == 2)
        {
            kanal = "SVT2";
        }
        else if(item.FK_channelid == 3)
        {
            kanal = "TV3";
        }
        else if (item.FK_channelid == 4)
        {
            kanal = "TV4";
        }
        else if (item.FK_channelid == 5)
        {
            kanal = "TV6";
        }
        <div>
            <p>
                <h2>Information om programmet</h2>
                @item.name,
                @item.description @kanalinfo 
                @kanal
            </p>
            </div>
            }
    @Html.ActionLink("Tillbaka", "Index", "Home")
</div>
